/* @theme dynamic-grid */

@import 'default';


.dg {
  display:flex;
  justify-content: space-between;
}

.dg-row{
  flex-direction: column;
}

.dg-col{
  flex-direction: row;
}

.dg .dg-col-elem{
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.dg .dg-row-elem{
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}


